/* frontend/static/css/responsive.css */

@media(max-width:1200px){

    .grid{
        grid-template-columns:1fr 1fr;
    }

    .sidebar{
        width:220px;
    }
}

@media(max-width:900px){

    .grid{
        grid-template-columns:1fr;
    }
    .sidebar{
        width:100%;
        position:relative;
        height:auto;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding:10px 0;
    }
    .sidebar a{
        padding:0;
    }
    .content{
        padding:20px;
    }
}
