/* frontend/static/css/responsive.css */

@media(max-width:1200px){

    .grid{
        grid-template-columns:1fr 1fr;
    }

    .sidebar{
        width:220px;
    }
}

@media(max-width:900px){

    .grid{
        grid-template-columns:1fr;
    }
    .sidebar{
        width:100%;
        position:relative;
        height:auto;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        padding:10px 0;
    }
    .sidebar a{
        padding:0;
    }
    .content{
        padding:20px;
    }
}
.emergency-btn{

    background:#dc2626;
    color:white;

    border:none;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

    font-weight:bold;

    transition:0.3s;
}

.emergency-btn:hover{

    background:#b91c1c;

    transform:scale(1.05);
}