backend/venv/
frontend/venv/
venv/
database/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
node_modules/
dist/
build/
*.log
storage/
uploads/
cache/
*.pt
*.pth
*.onnx
*.h5
*.yml
storage/embeddings/
storage/cache/
guru.log